.App-font{
    text-align: center;
    height: 60px;
    padding: 20px;
    margin-top: 0%;
    align-items: center;
    font-size: 17px;
  }
  .App-date1
  {
    width: 200px;
    height: 40px;
    margin-right: 0.5%; 
    
  }
  .App-date
  {
    width: 250px;
    height: 40px;
    margin-right: 1%; 
  }
  .App-input{
    width: 410px;
    height: 40px;
  
  }
  .App-button{
    width: 100px;
    height: 30px; 
  } 
  .App-button1
{
  width: 100px;
  height: 30px; 
  margin-right: 1%;
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }