.company100 {
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 97%;
    height: 50px;
    margin-top: 80px
}
.del101 {
    border: 1px solid rgb(0, 255, 106);
    border-radius: 5px;
    background-color: rgb(0, 255, 106);
    color: white;
    width: 55px;
    height: 29px;
}