.comname{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-color: #05cdff;
    height: 30px;
    margin-bottom: 7px;
}
.company1 {
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 97%;
    height: 50px;
}
.App-ubbbb {
    margin-bottom: 10px;
    width: 259px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.App-ub122 {
    margin-bottom: 10px;
    width: 259px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.App-ub211 {
    margin-bottom: 10px;
    width: 259px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.App-User99 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
}
.App-ubbbb123 {
    margin-bottom: 10px;
    width: 259px;
    background-color: white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 46px;
    font-size: x-large;
    font-style: bold;
}
.cu2{
    margin-top: 20px;
    width: 100%;
  }
  .add{
    border: 1px solid #05cdff;;
    border-radius:5px; 
    background-color: #05cdff;
    color: white;
    width: 80px;
    height: 29px;
  }
.add:hover{
    text-decoration-line: underline;
    background-color: white;
    border-color: #1a05ff;
    color: #1a05ff;
}
.add:focus {
    outline: none;
}
.App-button{
    width: 100%;
    height: 30px; 
  } 
  
  .edit{
    border: 1px solid #0084ff;;
    border-radius:5px; 
    background-color: #0084ff;
    color: white;
    width: 80px;
    height: 29px;
  }
.edit:hover{
    text-decoration-line: underline;
    background-color: white;
    border-color: #0084ff;
    color: #0084ff;
}
.edit:focus {
    outline: none;
}
img.addEmp{
    src: '../img/new-user.png';
}
img.addEmp:hover{
    src: '../img/new-user-hover.png';
}