.F_solidmodal{ 
    border-bottom : 1px solid;
    color: #cccccc;
    width: 600px ;
    margin: 15px 0 20px 0;

}
.headerModal{
    text-align: center;
}
.headerModal2{
    margin-top: 45px;
    color: #05cdff;
}
.textheadermodal{
    color: #05cdff;
}
.textheadermodal2{
    margin-left: 10px;
}
.nameModal{
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    text-align: justify
}
.dateModal1{
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    width: 147px; 
}
.dateModal2{
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    width: 147px; 
    margin-left: 10px;
}
.datemodalclass{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.border1{
    flex-direction: column;
}
.ModalReason{
    margin-top: 12px;
    border: 0.75px solid #cccccc;
    border-radius: 5px;
    height: 135px;
}
.buttonModal{
    margin-top: 30px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*============= modal หน้า flexible =================*/
.dateRequestModal{
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    width: 200px; 
    margin-left: 10px;
    padding-left: 13px;
    padding-top: 5px;
}
.dateRecieptModal{
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    width: 200px; 
    margin-left: 15px;
    padding-left: 13px;
    padding-top: 5px;
}
.txtReceiptmodal{
    padding-top: 5px;
    padding-left: 13px
}
.PerposeModal{
    padding-left: 13px;
    padding-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 35px;
    text-align: center
    
}
.Modalimg{
    padding-left: 13px;
    padding-top:5px;
    margin-top: 12px;
    border: 0.75px solid #cccccc;
    border-radius: 5px;
    height: 135px;
}
.mdbutton{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width:100px
}
.mdbutton2{
 margin-left: 6px;
 display: flex;
 justify-content: center;
 padding-top: 5px;
width: 100px
}
.F_img {
    max-height: 300px;
    border: 2px solid black;
    max-width: 600px;
 
}
.F_img1 {
   text-align: center;
 
}
.styles_modal__gNwvD{
    border-radius: 5px;
}
