
  .App-font{
    text-align: center;
    height: 60px;
    padding: 20px;

  }
  .App-select3 {
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
    width: 400px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px ;

  }
  .App-input{
    width: 400px;
    height: 40px;
    border-radius: 5px ;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
  }
  .App-date{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px ;
    margin: 4px 2px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
  }
  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
   
    
  }
  
  .Reason{
    margin-top: 30px;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
  }

  .App-button {
    text-align: center;
    height: 30px; 
    width: 190px;
    margin: 4px 2px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
  }

 
