.nav1{
    background-color:#05cdff;
    height: 55px;
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
   
  }
  .nav2{
      padding: 16px 16px;
      background-color: #05cdff;
      border-color:#05cdff;
      border-radius:0;
  }
  .nav3 {
    overflow: hidden;
    background-color: #05cdff;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
  }
.nav4{
    background-color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}
.nav5{
  
  float: right;
  
}
.nav6{
  float: right;
  text-align: left;
  background-color: #05cdff;
  border-color:#05cdff;
  border-radius:0;
  padding-left: 1%;
  padding-right: 3.5%;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: unset;
}
.navbar-inverse .navbar-nav>li>a {
  color: #05cdff;
}
.navdro{
  width: 45px;
  height: 40px;
  border-radius: 22px;
  cursor: pointer;
}
.navdro2{
  margin-top: 5px;
}
.App-button-Nav{
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(36, 36, 36, 0.699);
  width:100%;
  height: 30px;
} 
.App-button-Nav:hover{
  background-color: #ffffff;
  border-color: #05cdff;
  color: #05cdff;
}
.App-button-Nav-cancel{
  font-size: 15px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(36, 36, 36, 0.699);
  width:100%;
  height: 30px;
} 
.App-button-Nav-cancel:hover{
  background-color: #ffffff;
  border-color: red;
  color: red;
}
.changeImgProfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.changeImgProfile + label {
  width: 180px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  line-height: 2.6em;
  text-transform: uppercase;
  text-align: center;
  background-color: #05cdff;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px #048bad;
  transition: 150ms;
}

.changeImgProfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.changeImgProfile + label:hover {
  background-color: #00a9d3;
  box-shadow: 0px 5px 0px #007c9b;
  cursor:pointer;
}

.changeImgProfileED {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.changeImgProfileED + label {
  width: 180px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  color: #05cdff;
  line-height: 2.6em;
  text-transform: uppercase;
  text-align: center;
  border-color: #05cdff;
  background-color: transparent;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px #048bad;
  transition: 150ms;
}

.changeImgProfileED:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.changeImgProfileED + label:hover {
  color: #000;
  background-color: #00a9d3;
  box-shadow: 0px 5px 0px #007c9b;
  cursor:pointer;
}

.submitProfile {
  width: 150px;
  margin: 10px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  line-height: 2.6em;
  color:rgb(1, 216, 126);
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  border-color: rgb(0, 155, 90);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgb(0, 155, 90);
  transition: 150ms;
}

.submitProfile:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.submitProfile:hover {
  color: #000;
  border-color: rgb(0, 155, 90);
  background-color: rgb(58, 218, 151);
  box-shadow: 0px 5px 0px rgb(0, 155, 90);
  cursor:pointer;
}

.submitProfileED {
  width: 150px;
  margin: 10px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  line-height: 2.6em;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(37, 168, 113);
  border-color: rgb(1, 73, 43);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgb(0, 155, 90);
  transition: 150ms;
}

.submitProfileED:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.submitProfileED:hover {
  color: #000;
  border-color: rgb(0, 155, 90);
  background-color: rgb(58, 218, 151);
  box-shadow: 0px 5px 0px rgb(0, 155, 90);
  cursor:pointer;
}

.cancelProfile {
  margin: 10px;
  width: 150px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  line-height: 2.6em;
  color:rgb(236, 127, 127);
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  border-color: rgb(143, 0, 0);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgb(143, 0, 0);
  transition: 150ms;
}

.cancelProfile:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.cancelProfile:hover {
  color: #000;
  border-color: rgb(228, 96, 96);
  background-color: rgb(236, 127, 127);
  box-shadow: 0px 5px 0px rgb(143, 0, 0);
  cursor:pointer;
}

.cancelProfileED {
  margin: 10px;
  width: 150px;
  height:40px;
  font-size: 1em;
  font-weight: 500;
  line-height: 2.6em;
  color:#000;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(236, 127, 127);
  border-color: rgb(143, 0, 0);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgb(143, 0, 0);
  transition: 150ms;
}

.cancelProfileED:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.cancelProfileED:hover {
  color: #fff;
  border-color: rgb(173, 70, 70);
  background-color: rgb(230, 76, 76);
  box-shadow: 0px 5px 0px rgb(143, 0, 0);
  cursor:pointer;
}

.navbar-nav>li>.dropdown-menu{
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.dropdown-menu>li>a:hover{
  display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
}