.App {
  text-align: center;
  background-color:#F3F3F3 ;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-bottom: 100px;
}

.App-footer{
  background-color:#05cdff;
  height: 30px;
  padding: 20px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.App-img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}
.App-f1{
  text-align: center;
  color: #05cdff;
  margin-top: 1%;
}
.App-f2{
  margin-top: 1%;
  padding-left: 1%;
  width: 18%;
  left: 0;
  right: 0; 
  height:20pt
}
.App-f3{
  margin-top: 2%;
  background-color:white;
  width: 19.4%;
  left: 0;
  right: 0; 
  height:20pt
}
.App7{
  background-color:#05cdff;
  height: 35px;
  padding: 6px;
  color: white;
  text-align: center;
  position: fixed;
  /* z-index: 3; */
  left: 0;
  right: 0;
  bottom: 0;
}
.pagination>.active>a {
  z-index: unset;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}